<a href="https://colab.research.google.com/github/NimishaSoni12/nimisha-python-collab-file/blob/main/Copy_of_nimisha_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1
b = 2
if b>a:
   print('b is greater')
else:
     print('a is greater')

b is greater

In [ ]:
num1 = 3
num2 = 13
num3 = 10
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 13

In [ ]:
num1 = 5
num2 = 26
num3 = 100
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 100

In [ ]:
num1 = 0.5
num2 = 0.20
num3 = 0.25
if (num1 >= num2) and (num1 >= num3):
  largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 0.5

In [ ]:
s1="nimisha" 
s2="zebar"

print(s1)

nimisha

In [ ]:
if s1==s2:
 print(s1,"is equal to", s2)
else:
 print(s1,"is not equal to", s2)

nimisha is not equal to zebar

In [ ]:
a = 1
b = 2
c = 3
if a>b or a>c:
 print('b might be greater')
elif b>a or b>c:
  print('b might be greater')
elif c>a or c>b: 
  print('c might be greater')

b might be greater

-list is a collection which is ordered and changeable. allows duplucate members. 
-tuple is a collection which is ordered and unchangeable. allows duplicate members.
-set is a collectionb which is unoredered and unindexed. no suplicate members.
-dictionary is a collection which is unordered, changeeable and indexed. no duplicate memebers.

In [ ]:
fruits = ['apple','mango','banana']

print(fruits[0])

apple

In [ ]:
fruits[0] = 'cherry'
print(fruits)

['cherry', 'mango', 'cherry', 'kiwi', 'banana', 'kiwi']

In [ ]:
fruits.clear()
print(fruits)

[]

In [ ]:
fruits.append('kiwi')
print(fruits)

['apple', 'mango', 'banana', 'kiwi']

In [ ]:
fruits.insert(2, 'cherry')
print(fruits)

['apple', 'mango', 'cherry', 'banana', 'kiwi']

In [ ]:
print(fruits)

['apple', 'mango', 'cherry', 'banana', 'kiwi']

In [ ]:
if 'Apple' or 'apple' in fruits:
  print('yes!')
else:
    print('no')

yes!

In [ ]:
flower = ['sunflower','lily','rose']
print(flowers[0])
print(flowers[1])
print(flowers[2])

sunflower
rose
lily

In [ ]:
flowers.index('lily')

2

In [ ]:
fruits = ['apple','cherry','banana','grapes']
for y in fruits:
  print(y)

apple
cherry
banana
grapes

In [ ]:
print(len(fruits))

4

In [ ]:
fruits = ['apple','cherry','banana','grapes']
for name in fruits:
  if fruits.index(name)>1:
    print(name)

banana
grapes

In [ ]:
for name in fruits:
  if fruits.index(name)>2:
    print(name)

grapes

In [ ]:
for name in fruits:
  if fruits.index(name)>0:
    print(name)

cherry
banana
grapes

In [ ]:
fruits = ['apple','cherry','banana','grapes']
for name in fruits:
 if name == 'cherry':
  break
 print(name)

apple

In [ ]:
fruits = ['apple','cherry','banana','grapes']
for name in fruits:
 if name == 'cherry':
  continue
 print(name)

apple
banana
grapes

In [ ]:
fruits = ['apple','cherry','banana','grapes']
numbers = [0,1,2]

for x in fruits:
 for y in numbers:
  print(x,y)

apple 0
apple 1
apple 2
cherry 0
cherry 1
cherry 2
banana 0
banana 1
banana 2
grapes 0
grapes 1
grapes 2

In [ ]:
n = 5

for i in range(1, n+1):
    # internal loop run for i times
    for k in range(1, i+1):
        print("*", end="")
    print()

*
**
***
****
*****

In [ ]:
n = 5
for l in range(size):
    for m in range(1, size - l):
        print(" ", end="")
    for n in range(0, l + 1):
        print("*", end="")
    print()

    *
   **
  ***
 ****
*****

In [ ]:
n = 5

for i in range(n):
    # internal loop run for n - i times
    for j in range(n - i):
        print('*', end='')
    print()

*****
****
***
**
*

In [ ]:
n = 5 #pyramid star
for i in range(n):
    for j in range(n - i - 1):
        print(' ', end='')
    for k in range(2 * i + 1):
        print('*', end='')
    print()

    *
   ***
  *****
 *******
*********

In [ ]:
n = 5

for i in range(n):
    # printing spaces
    for j in range(i):
        print(' ', end='')
    # printing stars
    for j in range(2*(n-i)-1):
        print('*', end='')
    print()

*********
 *******
  *****
   ***
    *

In [ ]:
n = 5
for i in range(size):
    for j in range(i):
        print(" ", end="")
    for j in range(size, i, -1):
        print("*", end="")
    print()

*****
 ****
  ***
   **
    *

In [ ]:
for row in range(6):
  for col in range(6):
    if col==0 or col==5 or (row==col and (col>0 and col<5)):
       print('*', end='')
    else:
         print(end=" ")
  print()

*    *
**   *
* *  *
*  * *
*   **
*    *

In [ ]:
for i in range(9):
   for j in range(13):
      if i==2 or i==6 or i+j==6 or j-i==6 or i-j==2 or i+j==14:
          print("*",end=" ")
      else:
          print(" ",end=" ")
   print()

            *
          *   *
* * * * * * * * * * * * *
  *   *           *   *
    *               *
  *   *           *   *
* * * * * * * * * * * * *
          *   *
            *

In [ ]:
 s = 5
for i in range(size):
   for j in range(size):
        if i == j or i + j == size - 1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

IndentationError: ignored

In [ ]:
for i in range(0, 4):
    for j in range(0, 4):
        print("*", end="")
    print()

****
****
****
****

In [ ]:
fruits = ('aaple','mango','cherry')
print(type(fruits))

<class 'tuple'>

In [ ]:
fruits.append('apple')
print(fruits)

AttributeError: ignored

In [ ]:
print(fruits[1])

mango

In [ ]:
n = (9, 11, 22, 45, 67, 89, 15, 25, 19)
print(n)

(9, 11, 22, 45, 67, 89, 15, 25, 19)

In [ ]:
tupple = 5, 10, 15, 20, 25
print(tupple)

In [ ]:
x = (1, 2, 3, 4, 5, 6)
print(x)
del x

(1, 2, 3, 4, 5, 6)

In [ ]:
x = (10, 20, 30, 40, 50)
print(x)

(10, 20, 30, 40, 50)

In [ ]:
fruits = ['Kiwi', 'Banana', 'Apple', 'Orange']
y = tuple(fruits)
print(y)

('Kiwi', 'Banana', 'Apple', 'Orange')

In [ ]:
n1 = input(" Please Enter the First Number: ")
n2 =

 Please Enter the First Number: 25

In [ ]:
flower = {'lily','rose',"sunflower",'jasmine',"orchid"}
print(flower)

{'lily', 'jasmine', 'sunflower', 'orchid', 'rose'}

In [ ]:
for x in flower:
  print(x)

lily
jasmine
sunflower
orchid
rose

In [ ]:
flower.add('lotus')
print(flower)

{'lily', 'jasmine', 'sunflower', 'orchid', 'lotus', 'rose'}

In [ ]:
flower.update(['tulip'])
print(flower)

{'jasmine', 'sunflower', 'tulip', 'orchid', 'rose'}

In [ ]:
flower.pop()
print(flower)

{'sunflower'}

In [ ]:
flower.discard('lotus')
print(flower)

{'jasmine', 'sunflower'}

In [ ]:
flower = {'lily','rose',"sunflower",'jasmine',"orchid"}
print(flower)

{'lily', 'jasmine', 'sunflower', 'orchid', 'rose'}

In [ ]:
flower.discard('lily')
print(flower)

{'jasmine', 'sunflower', 'orchid', 'rose'}

#even if i insert anything in discard then there's a benefit that it will not get removed

In [ ]:
#dic

car = {
    'model' : 'mustang',
    'colour' : 'red',
    'year' : 2022
}
print(type(car))

<class 'dict'>

In [ ]:
car = {
    'model' : 'mustang',
    'colour' : ['red','yellow'],
    'year' : 2022
}
print(car)
print(type(car))

{'model': 'mustang', 'colour': ['red', 'yellow'], 'year': 2022}
<class 'dict'>

In [ ]:
print(car['model'])

mustang

In [ ]:
 for x in car:
   print(x,car[x])

model mustang
colour red
year 2022

In [ ]:
car.update({'engine': 'v8'})
print(car)

{'model': 'mustang', 'colour': 'red', 'year': 2022, 'engine': 'v8'}

In [ ]:
print(car['colour'])
print(car['colour'][0])

['red', 'yellow']
red

In [ ]:
ex = {
    "name" : "Nimisha",
    "age" : 15,
    "gender" : "FEMALE",
    "city": "Ahmedabad"
}
print(ex)

{'name': 'Nimisha', 'age': 15, 'gender': 'FEMALE', 'city': 'Ahmedabad'}

In [ ]:
print(ex["name"])

Nimisha

In [ ]:
data={
    "Smiley" : ":)",
    "Sad" : ":("
}
print(data['Sad'])
a=input("Enter Emojie You Want (First Letter Must Be Capital): ")
print(data[a])

:(
Enter Emojie You Want (First Letter Must Be Capital): Sad
:(

In [ ]:
data={
    "Smiley" : ":)",
    "Sad" : ":("
}
print(data['Smiley'])
a=input("Enter Emojie You Want (First Letter Must Be Capital): ")
print(data[a])

:)
Enter Emojie You Want (First Letter Must Be Capital): Smiley
:)

In [ ]:
data={
    "Crying" : ":=(",
    "Surprise" : ":-0"
}
print(data['Crying'])
a=input("Enter Emojie You Want (First Letter Must Be Capital): ")
print(data[a])

:=(
Enter Emojie You Want (First Letter Must Be Capital): Crying
:=(

In [ ]:
data={
    "Surprise" : ":-0",
    "Laughing" : "=D"
}
print(data['Surprise'])
a=input("Enter Emojie You Want (First Letter Must Be Capital): ")
print(data[a])

:-0
Enter Emojie You Want (First Letter Must Be Capital): Surprise
:-0

In [ ]:
print